{% extends 'base.html.twig' %}
{% block content %}
<h1>
    {% block h1 %}{% endblock %}
</h1>
    <table class="table">
        <thead>
         {% block table_header %}{% endblock %}
        </thead>
        <tbody>
          {% block table_content%}{% endblock %}
        </tbody>
    </table>
{% endblock %}
