{% extends 'listing.html.twig' %}
{% block h1 %}Organizations listing{% endblock %}
{% block table_header %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Summary</th>
    </tr>
{% endblock %}
{% block table_content %}
    {% for org in orgs %}
        <tr>
            <th scope="row">{{ org.id }}</th>
            <td>{{ org.name }}</td>
            <td>{{ org.summary }}</td>
            <td>
                <a href="/orgs/{{org.id}}" class="badge badge-primary">Edit</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}