{% extends 'listing.html.twig' %}
{% block h1 %}Ticket listing{% endblock %}
{% block table_header %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">Email contact</th>
        <th scope="col">Subject</th>
    </tr>
{% endblock %}
{% block table_content %}
    {% for ticket in tickets %}
        <tr>
            <th scope="row">{{ ticket.id }}</th>
            <td>{{ ticket.email }}</td>
            <td>{{ ticket.subject }}</td>
            <td>
                <a href="/tickets/{{ticket.id}}" class="badge badge-primary">Edit</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}