{% extends 'listing.html.twig' %}
{% block h1 %}User listing{% endblock %}
{% block table_header %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Display</th>
        <th scope="col">Actions</th>
    </tr>
{% endblock %}
{% block table_content %}
    {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.display_name }}</td>
            <td>
                <a href="/users/{{user.id}}" class="badge badge-primary">Edit</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}